@use '../utils/mixins' as *;

.left-menu {
  display: none;
  height: 100%;
  border-right: 1px solid var(--theme-theme-stroke);
  padding: 12px 24px 12px 20px;
  flex-direction: column;
  gap: 32px;

  @include tablet {
    display: flex;
  }

  &__tab {
    cursor: pointer;
  }

  &__icon {
    transition: fill 0.3s ease;
    fill: var(--primitive-slate-500);

    &:hover {
      fill: var(--primitive-slate-300);
    }
  }

  .active {
    fill: var(--primitive-slate-300);
  }
}
