@use '../utils/mixins' as *;

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__container {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }

  &__logo {
    border: none;
  }

  &__nav {
    display: none;

    @include tablet {
      display: flex;
    }
  }

  &__contacts-tab {
    display: none;

    @include tablet {
      display: flex;
    }
  }

  &__burger {
    background-color: transparent;
    border: none;
    height: 24px;
    width: 24px;
    padding: 0;
    cursor: pointer;
    margin: 16px;

    @include tablet {
       display: none;
    }
  }

  &__icon {
    fill: currentColor;
    transition: fill 0.3s ease;
  }
}
