:root {
  --color-primary-background: #292F36;
  --color-secondary-background: #1A1E23;
  --color-brand-primary: #12F7D6;
  --color-brand-secondary: #98FAEC;
  --color-green: #43454D;
  --color-white: #FFFFFF;
  --color-html: #E54F26;
  --color-css: #0C73B8;
  --color-js: #E7A020;
  --color-react: #28A9E0;
}
