@use '../utils/mixins' as *;

.tab {
  padding: 16px 24px;
  font-weight: 450;
  font-size: 16px;
  line-height: 150%;
  color: var(--theme-foreground);
  border-left: 1px solid var(--theme-theme-stroke);
  border-right: 1px solid var(--theme-theme-stroke);
  text-wrap: nowrap;

  &--active {
    border-bottom: 3px solid var(--primary-background);
  }

  @include tablet {
    padding: 16px 18px;
  }

  @include desktop {
    padding: 16px 24px;
  }
}
