.tab {
  display: flex;
  justify-content: space-between;
  width: 242px;
  padding: 12px 24px;
  border-left: none;
  align-items: center;
  border-right: 1px solid var(--theme-theme-stroke);
  color: var(--theme-foreground);

  .active {
    color: var(--theme-heading-foreground);
  }

  &__icon {
    stroke: currentColor;
    transition: stroke 0.3s ease;
    cursor: pointer;

    &:hover {
      stroke: var(--theme-heading-foreground);
    }
  }
}
