.hero {
  background-image: url("@/assets/images/decor.png");
  margin: 0 auto;

  &__hi {
    font-family: 'Fira Code', sans-serif;
    font-weight: 450;
    font-size: 18px;
    line-height: 150%;
    color: var(--theme-foreground);
  }
}
