.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border: 1px solid var(--theme-theme-stroke);
  border-radius: 8px;
  background: var(--theme-theme-background);
  height: 100%;
}
