@use '../utils/mixins' as *;

.hero {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  position: relative;

  @include tablet {
    flex-direction: row;
  }

  &__hi {
    font-size: 18px;
    line-height: 150%;
    font-weight: 450;
    color: var(--theme-foreground);
  }

  &__text {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 75px;
  }

  &__title {
    font-size: 45px;
    font-weight: 450;
    color: var(--theme-heading-foreground);
  }

  &__subtitle {
    font-weight: 450;
    font-size: 30px;
    line-height: 140%;
    color: var(--primitive-indigo-500);
  }

  &__comments {
    font-weight: 450;
    font-size: 16px;
    line-height: 150%;
    color: var(--theme-foreground);

    &--game {
      display: none;

      @include tablet {
        display: flex;
      }
    }
  }

  &__code {
    font-weight: 450;
    font-size: 16px;
    line-height: 150%;
    color: var(--primitive-indigo-500);

    &--var {
      color: var(--primitive-teal-400);
    }

    &--white {
      color: var(--theme-heading-foreground);
    }

    &--link {
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: var(--theme-link-foreground);
    }
  }

  &__game {
    height: 100%;
    align-items: center;
    display: none;

    @include tablet {
      display: flex;
    }
  }

  &__bg {
    position: absolute;
    width: 50%;
    height: 100%;
    top: -50px;
    right: 10%;
    background-image: url("@/assets/images/decor.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
  }
}
